@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,800;0,900;1,800&family=Oswald:wght@200;300;400&display=swap");
header {
  background-color: #df2935;
  position: absolute;
  width: 100%; }

footer {
  background-color: #14213d;
  margin-top: 5rem; }
  footer h3 {
    font-weight: bold; }
  footer ul li a {
    text-decoration: none; }
  footer a {
    text-decoration: none; }

@media (max-width: 497px) {
  .imagenPrincipal {
    margin-top: 8rem; } }

@media (max-width: 1594px) {
  .quienesSomosContenido img {
    display: none; }
  .quienesSomosParrafo {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 5rem; }
  .quienesSomosMain h1 {
    margin-left: 1rem; } }

@media (max-width: 450px) {
  .contactoMain {
    padding-left: 1rem; } }

@media (max-width: 1669px) {
  .imagenPrincipal {
    margin-top: 8rem; } }

@media (min-width: 768px) and (max-width: 988px) {
  .calidadCard {
    display: none; } }

.producto {
  background-color: white;
  height: 16rem;
  width: 19rem;
  margin: 4rem auto;
  text-align: center;
  border-radius: 1.3rem;
  -webkit-box-shadow: 22px 22px 48px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 22px 22px 48px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 22px 22px 48px -6px rgba(0, 0, 0, 0.75); }
  .producto img {
    height: 7rem;
    width: auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem; }
  .producto a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    text-transform: uppercase; }

.navegador ul {
  margin-right: 2rem; }
  .navegador ul li {
    margin: 10px; }

.navegador img {
  width: 200px;
  margin-left: 1rem; }

.navegador a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase; }

.cartas {
  display: flex;
  justify-content: space-evenly;
  margin: 5rem auto; }
  .cartas .carta {
    width: 20rem;
    position: static; }
    .cartas .carta h2 {
      color: black;
      font-weight: bold; }
    .cartas .carta p {
      color: black;
      position: static; }
    .cartas .carta img {
      margin-top: 20px; }
    .cartas .carta .cardImg {
      height: 235px;
      width: 280px;
      margin: 20px auto; }

.button {
  margin-top: 30px;
  margin-bottom: 5rem;
  padding: 15px 25px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #df2935;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #b4202a; }
  .button:hover {
    background-color: #df2935; }
  .button:active {
    background-color: #df2935;
    box-shadow: 0 5px #b4202a;
    transform: translateY(4px); }

.contactoMain {
  padding-top: 12rem;
  padding-bottom: 5rem;
  padding-right: 2rem; }
  .contactoMain h1 {
    font-size: 2.7rem;
    margin-left: 1.5rem;
    font-weight: bold;
    margin-bottom: 4rem;
    text-transform: uppercase; }
  .contactoMain .nombreApellido {
    max-width: 30rem; }

.productosMain {
  padding-top: 12rem;
  padding-bottom: 5rem; }
  .productosMain .producP {
    border: 5px solid white;
    padding: 2rem;
    margin-bottom: 4rem; }
  .productosMain .productos {
    margin-right: 0; }
  .productosMain h1 {
    margin-left: 1.5rem;
    text-transform: uppercase;
    font-size: 2.7rem;
    margin-bottom: 5rem;
    font-weight: bold; }

.quienesSomosMain .carousel-inner {
  min-width: 20rem;
  max-width: 50rem;
  margin: 4rem auto; }

.quienesSomosMain {
  padding-top: 14rem;
  padding-bottom: 5rem; }
  .quienesSomosMain h1 {
    font-size: 2.7rem;
    margin-bottom: 5rem;
    margin-left: 1.5rem;
    text-transform: uppercase;
    font-weight: bold; }
  .quienesSomosMain p {
    border: solid white 3px;
    padding: 2rem;
    margin: 5rem 1.3rem; }

.calidadMain {
  padding-top: 11rem; }
  .calidadMain h1 {
    font-size: 2.7rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 1.5rem; }
  .calidadMain .calidadCard {
    position: static;
    margin: 5rem auto; }
    .calidadMain .calidadCard h2 {
      color: black;
      font-weight: bold;
      margin: 1rem auto 2.5rem 1rem;
      text-transform: uppercase; }
    .calidadMain .calidadCard p {
      color: black;
      margin: 0.7rem; }
    .calidadMain .calidadCard img {
      height: 100%;
      width: 100%; }
  .calidadMain .norma {
    margin-top: 5rem; }
    .calidadMain .norma h2 {
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 2rem; }
    .calidadMain .norma p {
      margin-bottom: 2rem; }
  .calidadMain .imagenNorma img {
    width: 22rem;
    display: flex;
    justify-content: center;
    margin: 4rem auto; }

.imagenPrincipal {
  width: 100%;
  height: auto; }

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif; }

html {
  font-size: 62, 5%; }

body {
  background-color: #3772ff;
  font-size: 20px;
  color: white; }
