@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,800;0,900;1,800&family=Oswald:wght@200;300;400&display=swap");
header {
  background-color: #df2935;
  position: fixed;
  width: 100%; }

footer {
  background-color: #14213d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem; }
  footer img {
    width: 200px;
    height: auto; }
  footer ul li {
    display: inline-block;
    margin: 7px; }
    footer ul li a {
      text-decoration: none;
      color: white;
      font-weight: bold; }

@media (max-width: 1557px) {
  .parteUno {
    margin-top: 5rem; }
    .parteUno img {
      display: none; }
  .parteDos img {
    display: none; }
  .parrafo {
    margin-top: 40px;
    margin-bottom: 40px; }
  .parteDos {
    margin-bottom: 10rem; } }

@media (max-width: 497px) {
  .imagenPrincipal {
    margin-top: 8rem; } }

@media (max-width: 1594px) {
  .quienesSomosContenido img {
    display: none; }
  .quienesSomosParrafo {
    margin-right: 50px;
    margin-bottom: 5rem; }
  .quienesSomosMain h1 {
    margin-left: 1rem; } }

@media (max-width: 450px) {
  .contactoMain {
    padding-left: 1rem; } }

@media (max-width: 495px) {
  .productosMain {
    padding: 12rem 5rem 5rem auto; } }

.producto {
  background-color: white;
  height: 18rem;
  width: 20rem;
  margin-bottom: 5rem;
  text-align: center;
  border-radius: 1.3rem;
  -webkit-box-shadow: 22px 22px 48px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 22px 22px 48px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 22px 22px 48px -6px rgba(0, 0, 0, 0.75); }
  .producto img {
    height: 10rem;
    width: auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem; }
  .producto a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    text-transform: uppercase; }

.navegador ul {
  margin-right: 2rem; }
  .navegador ul li {
    margin: 10px; }

.navegador img {
  width: 200px;
  margin-left: 1rem; }

.navegador a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase; }

.parteUno {
  display: flex;
  border: white solid 7px;
  width: 80%;
  margin: 4rem auto 4rem auto; }
  .parteUno p {
    margin-left: 20px;
    margin-right: 20px; }
  .parteUno img {
    width: 37rem;
    height: auto; }

.parteDos {
  display: flex;
  flex-direction: row-reverse;
  border: white solid 7px;
  width: 80%;
  margin: auto auto 4rem auto; }
  .parteDos p {
    margin-left: 20px;
    margin-right: 20px; }
  .parteDos img {
    width: 37rem;
    height: auto; }

.parrafo {
  font-size: 2rem;
  margin: 0 auto;
  display: flex;
  align-items: center; }

.button {
  margin-top: 30px;
  margin-bottom: 5rem;
  padding: 15px 25px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #df2935;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #b4202a; }
  .button:hover {
    background-color: #df2935; }
  .button:active {
    background-color: #df2935;
    box-shadow: 0 5px #b4202a;
    transform: translateY(4px); }

.contactoMain {
  padding: 12rem 5rem 5rem 5rem; }
  .contactoMain h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 4rem;
    text-transform: uppercase; }

.productosMain {
  padding-top: 12rem;
  padding-bottom: 5rem; }
  .productosMain .productos {
    margin-left: 7rem; }
  .productosMain h1 {
    margin-left: 2.5rem;
    text-transform: uppercase;
    font-size: 3.5rem;
    margin-bottom: 3.7rem;
    font-weight: bold; }

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif; }

html {
  font-size: 62, 5%; }

body {
  background-color: #3772ff;
  font-size: 20px;
  color: white; }

.imagenPrincipal {
  width: 100%;
  height: auto;
  margin-top: 5rem; }

/* CALIDAD.HTML */
.calidadMain {
  padding-top: 11rem; }
  .calidadMain h1 {
    font-size: 3.5rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 4rem; }

.calidadP {
  font-size: 2rem;
  margin-bottom: 3rem; }

.imagenNorma {
  margin-bottom: 5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px; }

.linkNorma {
  text-decoration: none;
  font-weight: bold;
  color: white; }

/* CONOCENOS.HTML */
.quienesSomosMain {
  padding-top: 14rem;
  padding-bottom: 5rem; }

.quienesSomosImagen {
  margin-right: 2rem; }

.quienesSomosContenido {
  display: flex;
  align-items: center; }

.quienesSomosMain h1 {
  font-size: 3.5rem;
  margin-bottom: 3.7rem;
  margin-left: 2rem;
  text-transform: uppercase;
  font-weight: bold; }

.quienesSomosParrafo {
  border: 0.25rem white solid;
  padding: 2rem;
  margin-right: 5rem; }
