.calidadMain {
  padding-top: 11rem;
  h1 {
    font-size: $tamFuente;
    margin-bottom: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: $margin-left;
  }
  .calidadCard {
    position: static;
    margin: 5rem auto;
    h2 {
      color: black;
      font-weight: bold;
      margin: 1rem auto 2.5rem 1rem;
      text-transform: uppercase;
    }
    p {
      color: black;
      margin: 0.7rem;
    }
    img {
      height: 100%;
      width: 100%;
    }
  }
  .norma {
    margin-top: 5rem;
    h2 {
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }
    p {
      margin-bottom: 2rem;
    }
  }

  .imagenNorma {
    img {
      width: 22rem;
      display: flex;
      justify-content: center;
      margin: 4rem auto;
    }
  }
}
