// footer {
//   background-color: #14213d;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   padding: 3rem;

//   img {
//     width: 170px;
//     height: auto;
//   }

//   ul li {
//     display: inline-block;
//     margin: 7px;

//     a {
//       text-decoration: none;
//       color: white;
//       font-weight: bold;
//     }
//   }
// }

footer {
  background-color: #14213d;
  margin-top: 5rem;

  h3 {
    font-weight: bold;
  }
  ul {
    li {
      a{
        text-decoration: none;
      }
    }
  }
  a {
    text-decoration: none;
  }
}
