@media (max-width: 497px) {
  .imagenPrincipal {
    margin-top: 8rem;
  }
}

@media (max-width: 1594px) {
  .quienesSomosContenido img {
    display: none;
  }

  .quienesSomosParrafo {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 5rem;
  }

  .quienesSomosMain h1 {
    margin-left: 1rem;
  }
}

@media (max-width: 450px) {
  .contactoMain {
    padding-left: 1rem;
  }
}

@media (max-width: 1669px) {
  .imagenPrincipal {
    margin-top: 8rem;
  }
}

@media (min-width: 768px) and (max-width:988px) {
  .calidadCard {
    display: none;
  }
}