@import "variables.scss";

.productosMain {
  padding-top: 12rem;
  padding-bottom: 5rem;

  .producP {
    border: 5px solid white;
    padding: 2rem;
    margin-bottom: 4rem;
  }

  .productos {
    margin-right: 0;
  }

  h1 {
    margin-left: $margin-left;
    text-transform: uppercase;
    font-size: $tamFuente;
    margin-bottom: 5rem;
    font-weight: bold;
  }
}
