.productosMain {
  // padding: 12rem 5rem 5rem 5rem;
  padding-top: 12rem;
  padding-bottom: 5rem;

  .productos {
    margin-left: 7rem;
  }

  h1 {
    margin-left: 2.5rem;
    text-transform: uppercase;
    font-size: 3.5rem;
    margin-bottom: 3.7rem;
    font-weight: bold;
  }
}
