.producto {
    background-color: white;
    height: 16rem;
    width: 19rem;
    margin: 4rem auto;
    text-align: center;
    border-radius: 1.3rem;
    -webkit-box-shadow: 22px 22px 48px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 22px 22px 48px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 22px 22px 48px -6px rgba(0, 0, 0, 0.75);
  
    img {
      height: 7rem;
      width: auto;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
    }
  
    a {
      text-decoration: none;
      font-weight: bold;
      color: black;
      text-transform: uppercase;
    }
  }