
.cartas {
  display: flex;
  justify-content: space-evenly;
  margin: 5rem auto;

  .carta {
    width: 20rem;
    position: static;
  
    h2 {
      color: black;
      font-weight: bold;
      overflow-y: hidden;
    }
    p {
      color: black;
      position: static;
    }
    img {
      margin-top: 20px;
    }
    .cardImg {
      height: 235px;
      width: 280px;
      margin: 20px auto;
    }
  }
}
