$estilo: (
  display: flex,
  border: white solid 7px,
  width: 80%,
);

@mixin parrafos {
  margin-left: 20px;
  margin-right: 20px;
}

@mixin img {
  width: 37rem;
  height: auto;
}

.parteUno {
  display: map-get($estilo, display);
  border: map-get($estilo, border);
  width: map-get($estilo, width);
  margin: 4rem auto 4rem auto;

  p {
    @include parrafos;
  }

  img {
    @include img;
  }
}

.parteDos {
  display: map-get($estilo, display);
  flex-direction: row-reverse;
  border: map-get($estilo, border);
  width: map-get($estilo, width);
  margin: auto auto 4rem auto;

  p {
    @include parrafos;
  }

  img {
    @include img;
  }
}

.parrafo {
  font-size: 2rem;
  margin: 0 auto;
  display: map-get($estilo, display);
  align-items: center;
}
