@import "header";
@import "footer";
@import "media";
@import "producto";
@import "nav";
@import "secciones";
@import "boton-contacto";
@import "contacto-main";
@import "productos";
@import "variables";
@import "carousel";
@import "quienesSomosMain";
@import "calidadMain";
@import "imgPrincipal";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,800;0,900;1,800&family=Oswald:wght@200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62, 5%;
}

body {
  background-color: #3772ff;
  font-size: 20px;
  color: white;
}
